keras==2.15.0
matlabengine==24.2.1
numba==0.61.2
numpy==1.25.4
onnx==1.18.0
onnx-ir==0.1.8
onnx-tf==1.10.0
onnxscript==0.3.1
tensorflow==2.15.0
tensorflow-addons==0.22.0
tensorflow-probability==0.22.0
tf-keras==2.15.0
torch==2.7.1
